# Kotlin & Gradle specific

# default
*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties

# archives
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar